FRIGATE_USR_EMAIL=test-email@test.com

# ============================================
FRIGATE_CMR_HOME_IP=192.168.1.1

FRIGATE_CMR_HOME_RTSP_USER=username
FRIGATE_CMR_HOME_RTSP_PASS=password
FRIGATE_CMR_HOME_RTSP_PORT=554

FRIGATE_CMR_HOME_ONVIF_USER=username
FRIGATE_CMR_HOME_ONVIF_PASS=password

