[defaults]
inventory = ./hosts/hosts.yml

private_key_file = ./ansible
interpreter_python = auto_silent

# Num of processes run an the same time
forks = 5

# Logs file
log_path = ./logs/ansible-logs.txt

fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts

[privilege_escalation]
# If we need to have root privileges
# become = true
# become_method = sudo
# ask_become_pass = true