[defaults]
inventory = ./hosts/hosts.yml

private_key_file = ./ansible
interpreter_python = auto_silent

# Num of processes run an the same time
forks = 5

# Logs file
log_path = ./logs/ansible-logs.txt
